:root {
  --tooltip-max-width: 12.5rem;
  --tooltip-gutter: 0.4rem;
  --tooltip-background: var(--background-200);
  --tooltip-color: var(--text-800);
  --tooltip-padding: 0.5rem 0.75rem;
  --tooltip-border-radius: var(--border-small);
}

.p-tooltip {
  display: none;
  position: absolute;
  max-width: var(--tooltip-max-width);
}

.p-tooltip-right,
.p-tooltip-left {
  padding: 0 var(--tooltip-gutter);
}

.p-tooltip-top,
.p-tooltip-bottom {
  padding: var(--tooltip-gutter) 0;
}

.p-tooltip-text {
  box-shadow: 0;
  border-radius: var(--tooltip-border-radius);
  background: var(--tooltip-background);
  padding: var(--tooltip-padding);
  color: var(--tooltip-color);
  white-space: pre-line;
  word-break: break-word;
}

.p-tooltip-arrow {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
}

.p-tooltip-right .p-tooltip-arrow {
  margin-top: calc(-1 * var(--tooltip-gutter));
  border-width: var(--tooltip-gutter) var(--tooltip-gutter) var(--tooltip-gutter) 0;
  border-right-color: var(--tooltip-background);
}

.p-tooltip-left .p-tooltip-arrow {
  margin-top: calc(-1 * var(--tooltip-gutter));
  border-width: var(--tooltip-gutter) 0 var(--tooltip-gutter) var(--tooltip-gutter);
  border-left-color: var(--tooltip-background);
}

.p-tooltip-top .p-tooltip-arrow {
  margin-left: calc(-1 * var(--tooltip-gutter));
  border-width: var(--tooltip-gutter) var(--tooltip-gutter) 0 var(--tooltip-gutter);
  border-top-color: var(--tooltip-background);
  border-bottom-color: var(--tooltip-background);
}

.p-tooltip-bottom .p-tooltip-arrow {
  margin-left: calc(-1 * var(--tooltip-gutter));
  border-width: 0 var(--tooltip-gutter) var(--tooltip-gutter) var(--tooltip-gutter);
  border-top-color: var(--tooltip-background);
  border-bottom-color: var(--tooltip-background);
}
