:root {
  --elastic: cubic-bezier(0.075, 0.82, 0.165, 1);
  --border-small: 5px;
  --border-large: 15px;

  background-color: var(--background-50);
  color: var(--text-900);
  font-family: "Roboto", sans-serif;

  /* Doing this makes reloading the page look ugly af. But I wanted it for the theme selection transitions */
  /* transition: all 0.2s var(--elastic); */ 
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: var(--border-small);
  background-color: var(--background-300);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  cursor: default;

  background-color: var(--background-400);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--background-500);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  transition: background-color 0.2s;
  cursor: pointer;
  margin: 0.5em 0;
  border: none;
  border-radius: var(--border-small);
  background-color: var(--primary-500);
  padding: 0.5em 1em;
  color: var(--text-100);
  font-weight: 500;
  font-size: 1rem;
}

button:hover {
  background-color: var(--primary-600);
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--background-300);
}

